@import "./theme.css";
header{
    display: flex;
    position: relative;
    background-color: var(--header);
    gap: 0.25%;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: var(--title);
    
    flex-grow: 0.5;
    
}
input{
    background-color: var(--secondaryHeader);
    flex-grow: 0.2;
}

button{
    border-color: var(--borderDelete);
    border-radius: 10%;
    border-width: 2px;
    padding: 10px;
    background-color: var(--delete);
    color: var(--secondaryHeader);
    margin-left: 1%;
}

header button{
    background-color: var(--header);
    flex-grow: 0.2;
    border-color: var(--border) ;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
    color: var(--secondaryHeader);
}



header button:hover{
    background-color: svar(--secondaryHeader);
    color: var(--header);

}

button:hover{
    background-color: var(--secondaryHeader);
    color: var(--delete);
}


body{
    text-align: center;
    background-color: var(--primary) ;
}

div{
    font-size: 1.3rem;
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown {
    position: relative;
  }

.show {
    background-color: var(--header);
    display: flex;
    flex-direction: column;        
}

.card{
    border: 1px solid aqua;
    margin-bottom: 10px;
    padding: 10px;
}


#box{
    height: 50px;
    width: 50px;
    background-color: brown;
    transition: 1.5s all ease;
}

.active{
    transform: translate(200px);
}

#containerBox{
    display: flex;
    flex-direction: row;
}

#containerBox div{
    height: 20px;
    width: 20px;
    background-color: aqua;
}